body{
    background-color: rgba(122, 101, 126, 0.479);
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(202, 153, 135) ;
    min-height: 10vh;
    text-align: center;
    color: rgb(233, 231, 231);
}

header > h1{
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

main{
    padding: 0px;
}

#hobbies{
    background-color: rgba(159, 137, 163, 0.479);
    padding: 2.5%;
}

#hobbie-img-1 {
    margin: 10px;
    text-align: center;
}

#hobbie-img-1>img:hover{
    width: 30vw;
    height: 35vh;
    transition: 1s;
}

#hobbie-img-1 > figcaption{
    font-size: 0.8rem;
}

#img-pasatiempo >img{
    width: 30vw;
    height:40vh ;
    transition:1s ;
}

#img-pasatiempo >img:hover {
    width: 35vw;
    height: 48vh;
    transition:1s ;
}

#img-amigos>img{
    width:28vw;
    height:38vh;
    transition: 1s;
}

#img-amigos>img:hover{
    width: 30vw;
    height: 40vh;
    transition: 1s;
}

#img-montarbici>img{
    width: 28vw;
    height: 40vh;
    transition: 1s;
}

#img-montarbici>img:hover{
    width:30vw ;
    height:42vh ;
    transition: 1s;
}

#img-peli>img{
    width:30vw ;
    height:40vh ;
    transition:1s;
}

#img-peli>img:hover{
    width: 33vw;
    height: 42vh;
    transition: 1s;
}

.titulo-futsala {
    font-size: 2rem;
    transition: 1s;
    color: rgb(233, 231, 231);
    text-transform: uppercase;
}

.titulo-futsala:hover {
    background-color: rgb(202, 153, 135)
}

.titulo-compartir {
    font-size: 2rem;
    transition: 1s;
    color: rgb(233, 231, 231);
    text-transform: uppercase;
}

.titulo-compartir:hover{
    background-color: rgb(202, 153, 135)
}

.titulo-montarbici {
    font-size: 2rem;
    transition: 1s;
    color: rgb(233, 231, 231);
    text-transform: uppercase;
}

.titulo-montarbici:hover{
    background-color: rgb(202, 153, 135)
}

.titulo-verpeli {
    font-size: 2rem;
    transition: 1s;
    color: rgb(233, 231, 231);
    text-transform: uppercase;
}

.titulo-verpeli {
    background-color: rgb(202, 153, 135)
}

#compartir > ul > li{
    font-size: 1.5rem;
}